[submodule "Gridly"]
	path = Plugins/Gridly
	url = git@bitbucket.org:localizedirect/gridly-ue4-plugin.git
[submodule "Plugins/Gridly"]
	path = Plugins/Gridly
	url = git@bitbucket.org:localizedirect/gridly-ue4-plugin.git
